<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="none">
  <test thread-count="2" name="Test" parallel="none">
    <classes>
      <class name="com.TestCases.OrangeHRM_Login_TestCase"/>
      <class name="com.TestCases.OrangeHRM_Admin_TestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
